<div class="tabs">
  {% if permissions.manage_settings %}
    <a class="btn btn--ghost{% if request.url.path.startswith('/products/units') %} is-active{% endif %}" href="/products/units">Units</a>
    <a class="btn btn--ghost{% if request.url.path.startswith('/products/groups') %} is-active{% endif %}" href="/products/groups">Product Groups</a>
  {% endif %}
  <a class="btn btn--ghost{% if request.url.path.startswith('/products') and not request.url.path.startswith('/products/units') and not request.url.path.startswith('/products/groups') %} is-active{% endif %}" href="/products">Products</a>
</div>
