{% include "tickets/_qty_field.html" %}
{% include "tickets/_unit_price_oob.html" %}

<input
  type="hidden"
  id="ewc_product_default_code_6"
  name="ewc_product_default_code_6"
  value="{{ ewc_code_6 or '' }}"
  hx-swap-oob="true"
/>

<input
  type="hidden"
  id="ewc_product_default_display"
  name="ewc_product_default_display"
  value="{{ ewc_code_display or '' }}"
  hx-swap-oob="true"
/>

<input
  type="hidden"
  id="ewc_hazardous"
  value="{% if ewc_hazardous %}1{% else %}0{% endif %}"
  hx-swap-oob="true"
/>

<input
  type="hidden"
  id="default_destination_id"
  value="{{ default_destination_id or '' }}"
  hx-swap-oob="true"
/>

<input
  type="hidden"
  id="unit_type"
  value="{{ unit_type or '' }}"
  hx-swap-oob="true"
/>

<input
  type="hidden"
  id="unit_name"
  value="{{ unit_name or '' }}"
  hx-swap-oob="true"
/>


<div
  id="producer-hazard-hint"
  class="hint"
  hx-swap-oob="true"
  {% if ewc_hazardous and transaction_type in ["WASTEIN", "WASTEOUT"] %}style="display:block"{% else %}style="display:none"{% endif %}
>
  Hazardous waste requires producer details.
</div>

{% if weights_ticket and weights_form %}
  <div id="weights-block" hx-swap-oob="innerHTML">
    {% set ticket = weights_ticket %}
    {% set form = weights_form %}
    {% set is_open = weights_is_open %}
    {% set show_weight_errors = true %}
    {% set errors = [] %}
    {% include "tickets/_weights_block.html" %}
  </div>
{% endif %}
