<div class="tabs">
  <a class="btn btn--secondary{% if active_tab == 'destinations' %} is-active{% endif %}" href="/admin/printing/destinations">Destinations</a>
  <a class="btn btn--secondary{% if active_tab == 'templates' %} is-active{% endif %}" href="/admin/printing/templates">Templates</a>
  <a class="btn btn--secondary{% if active_tab == 'jobs' %} is-active{% endif %}" href="/admin/printing/jobs">Jobs</a>
  <a class="btn btn--secondary{% if active_tab == 'agents' %} is-active{% endif %}" href="/admin/printing/agents">Agents</a>
</div>
