<div class="tabs">
  <a class="btn btn--ghost{% if active_tab == 'destinations' %} is-active{% endif %}" href="/admin/printing/destinations">Destinations</a>
  <a class="btn btn--ghost{% if active_tab == 'templates' %} is-active{% endif %}" href="/admin/printing/templates">Templates</a>
  <a class="btn btn--ghost{% if active_tab == 'template_variables' %} is-active{% endif %}" href="/admin/printing/template-variables">Template Variables</a>
  <a class="btn btn--ghost{% if active_tab == 'jobs' %} is-active{% endif %}" href="/admin/printing/jobs">Jobs</a>
</div>
